<div class="container-fluid">
    <p-toast></p-toast>
    
    <div class="card mt-3">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h5 class="mb-0">File Explorer</h5>
            <div>
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-success me-2" 
                    title="New Folder" (click)="newFolder()"></button>
                <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-info me-2" 
                    title="Refresh" (click)="refreshFiles()"></button>
                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger me-2" 
                    title="Delete Selected" [disabled]="!selectedFiles.length" (click)="deleteSelected()"></button>
                <button pButton pRipple type="button" icon="pi pi-file-export" class="p-button-warning" 
                    title="Export as CSV" (click)="exportCSV()"></button>
            </div>
        </div>
        
        <div class="card-body">
            <div class="mb-3 d-flex">
                <span class="p-input-icon-left flex-grow-1">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Global Search" [(ngModel)]="globalFilter" class="w-100">
                </span>
            </div>
            
            <p-treeTable [value]="files" [columns]="cols" [paginator]="true" [rows]="10" 
                         [(selection)]="selectedFiles" selectionMode="multiple"
                         [globalFilterFields]="['name','size','type','dateModified']"
                         [loading]="loading" styleClass="p-datatable-sm" responsiveLayout="scroll"
                         [globalFilterFields]="['name','size','type','dateModified']"
                         [filterDelay]="0" [lazy]="false" [scrollable]="true" scrollHeight="400px">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3rem">
                            <!-- Checkbox column header -->
                        </th>
                        <th *ngFor="let col of columns" [ttSortableColumn]="col.field" [style.width]="col.field === 'name' ? '40%' : '20%'">
                            {{col.header}}
                            <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
                        </th>
                        <th style="width: 10%">Actions</th>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                    <tr [ttSelectableRow]="rowNode">
                        <td>
                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                            <!-- Use a standard checkbox instead -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" 
                                       [checked]="isSelected(rowNode)"
                                       (click)="toggleSelection(rowNode, $event)">
                            </div>
                        </td>
                        <td *ngFor="let col of columns">
                            <span class="p-column-title">{{col.header}}</span>
                            <ng-container *ngIf="col.field === 'name'">
                                <i class="pi" [ngClass]="{
                                    'pi-folder': rowData.type === 'Folder',
                                    'pi-file-pdf': rowData.type === 'PDF',
                                    'pi-file-excel': rowData.type === 'Spreadsheet',
                                    'pi-file-word': rowData.type === 'Document',
                                    'pi-image': rowData.type === 'Image',
                                    'pi-file-audio': rowData.type === 'Audio',
                                    'pi-file': rowData.type === 'File'
                                }" class="me-2"></i>
                                {{rowData[col.field]}}
                            </ng-container>
                            <ng-container *ngIf="col.field !== 'name'">
                                {{rowData[col.field]}}
                            </ng-container>
                        </td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-sm p-button-text"></button>
                            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-sm p-button-text p-button-warning"></button>
                        </td>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6" class="text-center">No files found.</td>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="6" class="text-center">Loading files... Please wait.</td>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="summary">
                    <div class="d-flex justify-content-between">
                        <span>{{selectedFiles.length}} of {{files ? files.length : 0}} files selected</span>
                    </div>
                </ng-template>
            </p-treeTable>
        </div>
    </div>
</div>
