<div class="table-wrapper">
  <div class="common-table-container">
    <!-- Table Controls -->
    <div class="table-controls" *ngIf="config.enableColumnHide">
      <div class="column-controls">
        <p-multiSelect 
          [options]="columnOptions" 
          [(ngModel)]="selectedColumns"
          (onChange)="onColumnSelectionChange()"
          [showHeader]="true"
          [showToggleAll]="true"
          styleClass="column-selector"
          selectedItemsLabel="{0} columns visible">
        </p-multiSelect>
      </div>
    </div>

    <div class="table-responsive">
      <!-- Table -->
      <p-table 
        #dt 
        [value]="data.length ? data : sampleData"
        [columns]="getVisibleColumns()"
        [paginator]="config.enablePagination"
        [rows]="config.pageSize || 10"
        [showCurrentPageReport]="config.enablePagination"
        [tableStyle]="{ 'min-width': '100%' }"
        [loading]="loading"
        [globalFilterFields]="globalFilterFields"
        styleClass="p-datatable-sm"
        [rowHover]="true"
        [scrollable]="true"
        scrollHeight="flex"
        [resizableColumns]="config.enableColumnResize"
        [reorderableColumns]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [alwaysShowPaginator]="true"
        [showFirstLastIcon]="false"
        [showPageLinks]="false">

        <!-- Table Header -->
        <ng-template pTemplate="header">
          <!-- Column Headers -->
          <tr>
            <th *ngFor="let col of getVisibleColumns()" 
                [pSortableColumn]="col.sortable ? col.field : ''"
                [style.width]="col.width"
                class="header-cell">
              <div class="header-content">
                {{ col.header }}
                <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
              </div>
              <div class="resize-handle" 
                   *ngIf="config.enableColumnResize"
                   (mousedown)="onResizeStart($event, col.field)"></div>
            </th>
          </tr>

          <!-- Filter Row -->
          <tr *ngIf="config.enableFilter">
            <th *ngFor="let col of getVisibleColumns()">
              <div class="filter-container" [ngSwitch]="col.filterType">
                <!-- Date Range Filter -->
                <div *ngSwitchCase="'dateRange'" class="date-range-filter">
                  <p-calendar 
                      [(ngModel)]="dateRangeFilters[col.field]"
                      (ngModelChange)="onDateRangeChange(col.field, $event)"
                      selectionMode="range"
                      [showIcon]="true"
                      [readonlyInput]="true"
                      appendTo="body"
                      [showButtonBar]="true"
                      [placeholder]="'Select ' + col.header + ' range'"
                      dateFormat="dd M yy"
                      [style]="{'width': '100%'}">
                  </p-calendar>
                  <button *ngIf="dateRangeFilters[col.field]?.length > 0" 
                          type="button" 
                          class="clear-filter-btn-inside"
                          (click)="clearDateRangeFilter(col.field)"
                          title="Clear filter">
                    <i class="pi pi-times"></i>
                  </button>
                </div>

                <!-- Dropdown Filter -->
                <p-dropdown *ngSwitchCase="'dropdown'"
                           [options]="getFilterOptions(col)"
                           [(ngModel)]="dropdownFilters[col.field]"
                           (onChange)="onDropdownChange(col.field, $event.value)"
                           [placeholder]="'Filter ' + col.header"
                           [showClear]="true"
                           appendTo="body"
                           [style]="{'width': '100%'}"
                           styleClass="p-column-filter">
                </p-dropdown>

                <!-- Text Filter -->
                <input pInputText type="text" 
                       *ngSwitchDefault
                       (input)="dt.filter($any($event.target).value, col.field, 'contains')"
                       [placeholder]="'Search ' + col.header"
                       class="w-100">
              </div>
            </th>
          </tr>
        </ng-template>

        <!-- Table Body -->
        <ng-template pTemplate="body" let-rowData>
          <tr (click)="onRowClick($event, rowData)">
            <td *ngFor="let col of getVisibleColumns()" [style.width]="col.width">
              <ng-container [ngSwitch]="true">
                <!-- Company Cell -->
                <div class="company-cell" *ngSwitchCase="col.isLink">
                  <a class="linkable-column" (click)="onLinkClick($event, rowData, col)" [innerHTML]="rowData[col.field]"></a>
                  <div class="sub-info" *ngIf="rowData.companySubInfo">
                    {{ rowData.companySubInfo }}
                  </div>
                </div>

                <!-- Status Cell -->
                <div class="status-cell" *ngSwitchCase="col.isStatus">
                  <span [class]="'status-badge ' + getStatusClass(rowData[col.field])">
                    {{ rowData[col.field] }}
                  </span>
                </div>

                <!-- Action Cell -->
                <div class="action-cell" *ngSwitchCase="col.isAction">
                  <button *ngFor="let btn of getActionButtons()"
                          class="btn btn-sm"
                          [class]="btn.class"
                          (click)="onActionClick(btn.action, rowData, $event)">
                    <i *ngIf="btn.icon" [class]="btn.icon"></i>
                    <span *ngIf="!btn.iconOnly">{{ btn.label }}</span>
                  </button>
                </div>

                <!-- HTML Cell -->
                <div class="html-cell" *ngSwitchCase="col.isHtml">
                  <div [innerHTML]="rowData[col.field]"></div>
                </div>

                <!-- Default Cell -->
                <div [class]="col.field + '-cell'" *ngSwitchDefault>
                  {{ rowData[col.field] }}
                </div>
              </ng-container>
            </td>
          </tr>
        </ng-template>

        <!-- Empty Message -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="getVisibleColumns().length" class="text-center">
              No records found
            </td>
          </tr>
        </ng-template>

        <!-- Loading Message -->
        <ng-template pTemplate="loadingbody">
          <tr>
            <td [attr.colspan]="getVisibleColumns().length" class="text-center">
              Loading data...
            </td>
          </tr>
        </ng-template>

        <!-- Paginator -->
        <ng-template pTemplate="paginatorright">
          <!-- <div class="custom-pagination nav-arrows">
            <button class="pagination-btn" 
                    [disabled]="isFirstPage()"
                    (click)="goToPreviousPage()">
              <i class="pi pi-chevron-left"></i>
            </button>
            <button class="pagination-btn" 
                    [disabled]="isLastPage()"
                    (click)="goToNextPage()">
              <i class="pi pi-chevron-right"></i>
            </button>
          </div>
          <div class="custom-pagination page-controls">
            <span class="page-info">
              Page {{ getCurrentPage() }} of {{ getTotalPages() }}
            </span>
          </div> -->
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
