<p-button
  [label]="configuration.label"
  [icon]="configuration.icon"
  [loading]="configuration.loading"
  [disabled]="configuration.disabled"
  [iconPos]="configuration.iconPos || 'left'"
  [severity]="configuration.severity"
  [raised]="configuration.raised"
  [rounded]="configuration.rounded"
  [text]="configuration.text"
  [outlined]="configuration.outlined"
  [badge]="configuration.badge"
  [badgeClass]="configuration.badgeClass"
  [styleClass]="configuration.styleClass"
  [style]="configuration.style"
  (onClick)="handleClick($event)"
></p-button> 