:host {
  display: inline-block;

  ::ng-deep {
    .p-button {
      &.p-button-primary {
        background: #2f59eb !important;
        border-color: #2f59eb !important;

        &:enabled:hover {
          background: darken(#2f59eb, 10%);
          border-color: darken(#2f59eb, 10%);
        }

        &:enabled:active {
          background: darken(#2f59eb, 15%);
          border-color: darken(#2f59eb, 15%);
        }

        &.p-button-outlined {
          background-color: transparent;
          color: #2f59eb;
          border-color: #2f59eb;

          &:enabled:hover {
            background: rgba(27, 58, 95, 0.04);
            color: #2f59eb;
            border-color: #2f59eb;
          }

          &:enabled:active {
            background: rgba(27, 58, 95, 0.16);
            color: #2f59eb;
            border-color: #2f59eb;
          }
        }

        &.p-button-text {
          background-color: transparent;
          color: #2f59eb;
          border-color: transparent;

          &:enabled:hover {
            background: rgba(27, 58, 95, 0.04);
            color: #2f59eb;
            border-color: transparent;
          }

          &:enabled:active {
            background: rgba(27, 58, 95, 0.16);
            color: #2f59eb;
            border-color: transparent;
          }
        }
      }

      &.size-small {
        font-size: 0.875rem;
        padding: 0.4rem 0.8rem;
      }

      &.size-normal {
        font-size: 1rem;
        padding: 0.5rem 1rem;
      }

      &.size-large {
        font-size: 1.25rem;
        padding: 0.75rem 1.5rem;
      }

      .p-button-icon {
        font-size: inherit;
      }

      &.p-button-loading {
        .p-button-icon {
          animation: spin 1s linear infinite;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 