<header class="common-header">
  <div class="header-container">
    <div class="header-left">
      <h1 class="header-title">{{ title }}</h1>
    </div>
    <div class="header-right">
      <div class="avatar-dropdown">
        <button type="button" class="avatar-button" (click)="toggleDropdown()">
          <div class="avatar">{{ userInitials }}</div>
        </button>
        <div class="dropdown-menu" [ngClass]="{'show': isDropdownOpen}">
          <button type="button" class="dropdown-item" (click)="onProfile()">
            <i class="pi pi-user"></i>
            Profile
          </button>
          <button type="button" class="dropdown-item" (click)="onLogout()">
            <i class="pi pi-sign-out"></i>
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
