<header class="common-header">
  <div class="header-container">
    <div class="header-left">
      <h1 class="header-title">{{ title }}</h1>
    </div>
    <div class="header-right">
      <!-- Help section -->
      <div class="profile-link" (click)="onHelp()" *ngIf="shouldShowProfile" style="margin-right: -9px;"> 
        <i class="pi pi-question-circle"></i>
        <span>Help</span>
      </div>
      <!-- Profile section -->
      <div class="profile-link" (click)="onProfile()" *ngIf="shouldShowProfile">
        <i class="pi pi-user"></i>
        <span>Profile</span>
      </div>
      <div class="avatar-dropdown">
        <button type="button" class="avatar-button" (click)="toggleDropdown()">
          <div class="avatar">{{ userInitials }}</div>
        </button>
        <div class="dropdown-menu" [ngClass]="{'show': isDropdownOpen}">
          <button type="button" class="dropdown-item" (click)="onLogout()">
            <i class="pi pi-sign-out"></i>
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
